@tailwind base;
@tailwind components;
@tailwind utilities;

.battery-card {
  /* margin: 10px; */
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: calc(0.025 * var(--battery-card-container-height));
  background: white;
}

.battery-title-graphic-ranking-positioning-box {
  position: relative;
  width: calc(0.5 * var(--battery-card-container-height));
  height: calc(0.43 * var(--battery-card-container-height));
  align-self: flex-start;
  /* border: 1px solid black; */
}

.battery-graphic-positioning-box {
  /* display: flex; */
  position: absolute;
  left: 2%;
  top: 17%;
  /* align-self: center; */
}

.battery-card-title {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: calc(0.03 * var(--battery-card-container-height));
  font-weight: 700;
  margin: 10px;
  justify-self: flex-start;
  align-self: flex-start;
}

/* fill="#000000" width="800px" height="800px"8
*/

.badge-container {
  position: absolute;
  right: 0%;
  top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(0.1 * var(--battery-card-container-height));
  height: calc(0.1 * var(--battery-card-container-height));
}

.badge-icon {
  position: absolute;
  fill: #808080;
  stroke: #808080;
  stroke-width: 3;
  width: 100%;
  height: 100%;
}

h3.badge-ranking-number {
  position: absolute;
  top: 26%;
  font-size: calc(0.02 * var(--battery-card-container-height));
  font-weight: 700;
  margin: 0;
  padding: 0;
}

div.metrics-grid {
  flex: 0;
  /* position: absolute; */
  justify-self: center;
  display: grid;
  /* top: 45%;
    left: 5%; */
  width: 90%;
  height: calc(0.48 * var(--battery-card-container-height));
  grid-template-rows: 1fr 9fr;
  /* grid-template-columns: 75% 25%; */
  grid-template-columns: 82% 18%;
}

div.metrics-title {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

div.metrics-title h3 {
  font-size: calc(round(0.027 * var(--battery-card-container-height)));
  font-weight: 700;
}

div.metrics-labels-column,
div.metrics-values-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.metrics-values-column {
  align-items: flex-start;
}

h2.metrics-label,
h2.metrics-value {
  /* min-width: 100%; */
  max-width: 100%;
  --line-spacing: calc(0.0025 * var(--battery-card-container-height));
  font-size: calc(0.02 * var(--battery-card-container-height));
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  line-height: calc(0.025 * var(--battery-card-container-height));
}

h2.metrics-label {
  font-weight: 700;
  padding: var(--line-spacing) 0%;
}

h2.metrics-value {
  /* padding: 0.55% 0%; */
  padding: var(--line-spacing) 0%;
}

div.gray-divider {
  width: 100%;
  height: 0.5px;
  background-color: #a2a2a2;
  opacity: 0.53;
  margin: 3% 0% 0% 0%;
}

div.battery-card-footer {
  height: calc(0.087 * var(--battery-card-container-height));
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 2.5fr 1fr;
}

div.element-footer-tags {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  max-width: 100%;
  /* justify-content: space-around; */
  align-items: center;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  overflow: hidden;
  padding: 2%;
}

div.element-footer-tag {
  display: inline-flex;
  margin: 1% 1%;
  height: calc(0.03 * var(--battery-card-container-height));
  background-color: #d9d9d9;
  border-radius: calc(0.05 * var(--battery-card-container-height));
  padding: calc(0.005 * var(--battery-card-container-height))
    calc(0.005 * var(--battery-card-container-height));
}

div.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  /* border: 1px solid blue; */
}

div.icon-container {
  margin: 0% 7%;
}

h3.element-footer-tag-text {
  font-size: calc(0.015 * var(--battery-card-container-height));
  line-height: calc(0.02 * var(--battery-card-container-height));
}
