.landing-page-header {
    /* background-color: #26547c; */
    position: relative;
    background-image: url("../../assets/battery-background.png");
    background-position: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw 5vw;
  }

.landing-page-header::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


  @media (max-width: 991px) {
    .landing-page-header {

      max-width: 100%;
      padding: 1vw 20px;
    }
  }
  .div-2 {
    display: flex;
    margin-top: 10px;
    width: 100%;
    max-width: 1075px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }

  .landing-page-header-text {
    color: #fff;
    /* color: black; */
    font-size: 4vw;
    font-weight: bolder;
    font-family: 'Inter, sans-serif';
    text-align: center; /* Add this line to align text to the left */
    z-index: 2;
    padding: 0% 20%;
    line-height: 4vw;
  }
  @media (max-width: 991px) {
    .landing-page-header-text {
      font-size: 6vw;
      max-width: 100%;
      padding: 1% 15%;
      line-height: 5.5vw;
    }
  }

  .div-4 {
    color: #fff;
    margin-top: 18px;
    font: 500 25px Inter, sans-serif;
    text-align: center;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  
.span {
    text-align: left;
}

.landing-page-subheader-text {
  padding: 0% 25%;
  font-size: 1.8vw;
  color: #ffffff;
  z-index: 2;
}

@media (max-width: 991px) {
  .landing-page-subheader-text {
    font-size: 3.5vw;
    max-width: 100%;
    padding: 1% 15%;
  }
}